p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }


  h1{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 460px;
  }

  .column {
    float: left;
    /* table-layout: fixed; */

    margin: auto;
    width: 160px;
  }

 
  Clear floats after the columns
  .row:after {
    content: "";
    display: inline-block;
    clear: both;
  }


  .center {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  .title {
    text-align: center;
    /* border:3px solid blue; */
  }
  
  canvas {
    margin: auto;
  }

  input[type=checkbox] {
    transform: scale(2.5);
}

table
{ 
margin-left: auto;
margin-right: auto;
}
